@media screen and (max-width: 1200px) {
  .header-title {
    font-size: 38px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-bg2 {
    margin-top: 70px; }
  .header-text {
    font-size: 14px; }
  .block {
    height: 200px; }
  .challenges-text {
    margin-top: 280px;
    font-size: 25px;
    width: 450px; }
    .challenges-text span {
      font-size: 35px; }
  .challenges-foto {
    width: 630px;
    height: 400px;
    margin-top: 10px; }
  .solution-sheme {
    margin-top: 90px; }
  .sheme1 {
    margin-left: 280px;
    margin-top: 160px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme2 {
    margin-top: 160px;
    margin-left: 70px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right1 {
    font-size: 20px;
    margin-right: 60px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .solution-bg {
    min-height: 700px; }
  .hight-desc-right2 {
    margin-right: 0; }
  .hight-second {
    margin-top: 210px; }
  .hight-sc1 {
    margin-left: 0;
    margin-bottom: 20px; }
  .hight-sc-left1 {
    width: 650px; }
  .hight-sc-right1 {
    margin-top: 30px;
    margin-right: 30px; }
  .line-sc2 {
    margin-top: -37px; }
  .none {
    display: none; } }

@media screen and (max-width: 992px) {
  .header-title {
    font-size: 26px; }
  .header-bg2 {
    min-height: 300px;
    margin-top: 180px; }
  .rectangle {
    width: 100px;
    height: 8px; }
  .menu {
    top: -26px;
    left: 40px; }
    .menu .menu-item {
      padding: 10px; }
  .hamburger {
    margin-top: 10px; }
  .header-text {
    margin-top: 0;
    font-size: 13px; }
  .challenges-text {
    margin-top: 300px;
    font-size: 21px;
    width: 380px; }
    .challenges-text span {
      font-size: 35px; }
  .challenges-foto {
    margin-top: -20px; }
  .solution-bg {
    max-height: 500px; }
  .solution-sheme {
    margin-top: 140px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .solution-sheme h3 {
      margin-bottom: 10px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
  .sheme1 {
    margin-left: 20px;
    margin-top: 320px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme1 ul {
      width: 250px; }
  .sheme2 {
    margin-top: 130px;
    margin-left: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme2 ul {
      width: 180px; }
  .hight-desc-right1 {
    font-size: 15px;
    width: 380px;
    margin-top: 30px;
    margin-right: 10px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right2 {
    margin-right: -70px; }
  .hight-desc2 {
    margin-left: 120px; }
  .hight-second {
    margin-top: 270px; }
  .hight-sc-left1 {
    font-size: 18px;
    margin-left: 0;
    width: 400px; }
  .hight-sc-right1 {
    margin-right: 10px; }
  .solution-icon4 {
    width: 70px;
    margin-top: 38px;
    margin-left: 40px; }
  .line-sc1 {
    width: 80px;
    margin-left: 125px;
    margin-top: -30px; }
  .line-sc2 {
    width: 80px;
    margin-top: -39px; }
  .outcome-bg1, .outcome-bg2 {
    width: 250px; }
  .outcome-icon1 {
    width: 85px;
    margin-left: 90px; }
  .outcome-icon2 {
    width: 85px;
    margin-top: 60px;
    margin-left: 85px; }
  .outcome-text1, .outcome-text2 {
    margin-top: 100px;
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 30px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-bg2 {
    width: 350px;
    margin-top: 90px;
    margin-left: 50px; }
  .rectangle {
    width: 70px;
    height: 6px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .menu {
    position: absolute; }
    .menu .menu-item {
      padding: 8px; }
    .menu ul {
      display: none; }
  .header-none2 {
    display: none; }
  .header-text {
    width: 400px;
    font-size: 15px;
    margin-top: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .challenges-desc1 p {
    font-size: 17px; }
  .challenges-desc1 img {
    width: 100px; }
  .challenges-text {
    margin-top: 330px;
    font-size: 25px;
    width: 450px;
    line-height: 1.7em; }
    .challenges-text span {
      font-size: 35px; }
  .none {
    display: none; }
  .challenges-bg {
    background: url(../img/challenges-bg-mob.png) no-repeat;
    min-height: 700px;
    -webkit-background-size: 100% 700px;
            background-size: 100% 700px; }
  .challenges-foto {
    width: 530px;
    height: 350px;
    margin-top: -50px; }
  .solution-bg {
    max-height: 200px; }
  .solution-sheme {
    margin-top: 0;
    background: url(../img/solution-sheme-mob.png) no-repeat;
    min-height: 750px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme1 {
    margin-left: 50px;
    margin-top: 450px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme2 {
    margin-left: 90px;
    margin-top: 200px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme2 ul {
      width: 150px; }
  .hight-desc2 {
    margin-left: 60px; }
  .hight-desc-left1 {
    width: 120px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .hight-desc-left1 img {
      width: 50px;
      margin-left: 35px;
      margin-top: 34px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .hight-desc-left1 .line1 {
      width: 70px;
      margin-left: 90px;
      margin-top: -25px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .hight-desc-left1 .line2 {
      margin-top: -25px; }
  .hight-desc-right1 {
    margin-top: 15px;
    width: 350px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right2 {
    margin-right: 0; }
  .hight-sc-left1 {
    width: 300px;
    margin-left: 10px; }
  .hight-sc-right1 {
    margin-top: 30px; }
  .line-sc1, .line-sc2 {
    display: none; }
  .outcome-bg1, .outcome-bg2 {
    width: 300px;
    margin: 50px auto 0 auto; }
  .outcome-icon1 {
    width: 100px;
    margin-left: 110px; }
  .outcome-icon2 {
    width: 100px;
    margin-top: 80px;
    margin-left: 100px; }
  .outcome-text1, .outcome-text2 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto; } }

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 30px;
    margin-top: 6s0px;
    width: 50px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-text {
    width: 350px; }
  .header-bg2 {
    margin-left: 50px;
    margin-top: 30px;
    width: 300px; }
  .rectangle {
    width: 80px;
    height: 8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .menu {
    width: 300px;
    left: 40px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .challenges-desc {
    display: block; }
  .challenges-desc1 {
    margin-top: 80px; }
    .challenges-desc1 p {
      margin-top: 20px;
      font-size: 20px; }
  .challenges-text {
    margin-top: 320px;
    font-size: 19px;
    width: 300px; }
    .challenges-text span {
      font-size: 35px; }
  .none {
    display: none; }
  .challenges-foto {
    width: 350px;
    height: 250px; }
  .solution-bg {
    min-height: 700px; }
  .solution-sheme {
    min-height: 700px;
    margin-top: 80px; }
  .sheme1 {
    margin-left: 10px;
    margin-top: 390px; }
    .sheme1 ul {
      width: 200px; }
  .sheme2 {
    margin-top: 120px;
    margin-left: 50px; }
    .sheme2 ul {
      width: 150px; }
  .hight-desc1 {
    display: block; }
  .hight-desc-left1 {
    margin: auto; }
  .hight-desc-right1 {
    margin: auto;
    text-align: center;
    font-size: 17px; }
  .hight-desc2 {
    margin: auto; }
  .hight-desc-right2 {
    margin: auto;
    margin-bottom: 20px; }
  .hight-sc-left1 {
    font-size: 15px;
    margin-left: 0; }
  .hight-sc-right1 {
    margin-left: 0;
    margin-right: 20px; }
  .solution-icon4 {
    width: 75px;
    margin-left: 40px;
    margin-top: 40px; } }

.header-bg2 {
  background: url(../img/header-bg2.png) no-repeat top;
  min-height: 500px;
  -webkit-background-size: contain;
          background-size: contain; }

.header {
  background: url(../img/header-bg1.png) no-repeat;
  min-height: 700px;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  background-position: 50% 0; }

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 43.7px;
  font-weight: 700;
  color: #fff;
  margin-top: 67px; }

.rectangle {
  width: 129px;
  height: 9.9px;
  background-color: #FFD800;
  margin-top: 9px; }

ul, li {
  list-style: none;
  text-decoration: none;
  display: inline-block; }

p, span {
  display: inline; }

.menu {
  margin-top: 35px;
  margin-left: auto;
  display: block;
  width: 320px; }

.menu-item {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  color: #fff;
  padding: 15px; }

.menu-item:hover {
  color: grey;
  text-decoration: none; }

.hamburger {
  background-image: url(../img/hamburger.svg);
  height: 26px;
  width: 20px;
  background-color: transparent;
  border: none; }

.hamburger:hover {
  cursor: pointer; }

.open ul {
  display: block !important; }

.header-text {
  font-family: "Lato", sans-serif;
  color: #fff;
  width: 440px;
  font-size: 18px;
  margin-top: 20px; }
  .header-text span {
    color: #FFD800; }

.challenges {
  margin-top: 0; }

.title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center; }

.challenges-rc {
  margin: auto; }

.challenges-about {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 50px; }
  .challenges-about span {
    font-size: 36px; }

.challenges-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.challenges-desc1 {
  margin: auto;
  text-align: center; }
  .challenges-desc1 p {
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-top: 20px; }

.challenges-bg {
  background: url(../img/challenges-bg.png) no-repeat;
  min-height: 700px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.challenges-text {
  margin-top: 230px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  width: 470px; }
  .challenges-text span {
    color: #FFD800;
    font-size: 36px; }

.challenges-bg2 {
  background: url(../img/challenges-bg2.png) no-repeat;
  min-height: 500px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  margin-top: 100px; }

.challenges-foto {
  width: 730px;
  height: 440px; }

.solution-desc {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center; }
  .solution-desc .solution-rc {
    margin: auto;
    margin-bottom: 20px; }
  .solution-desc span {
    font-size: 36px; }

.solution-bg {
  background: url(../img/solution-bg.png) no-repeat;
  min-height: 735px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.solution-sheme {
  background: url(../img/solution-sheme.png) no-repeat;
  min-height: 550px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7em; }
  .solution-sheme span {
    color: #FFD800; }
  .solution-sheme h3 {
    color: #FFD800;
    font-size: 28px;
    margin-bottom: 25px; }

.mobilunity {
  width: 200px; }

.xpolog {
  width: 150px; }

.sheme1 {
  margin-left: 330px;
  margin-top: 230px; }

.sheme2 {
  margin-top: 230px;
  margin-left: 120px; }

.solution-hight {
  margin-top: 50px; }

.hight-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 35px; }

.hight-desc {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300; }

.hight-desc1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.hight-desc2 {
  margin-left: 100px; }

.hight-desc-left1 {
  background: url(../img/solution-rhomb.png) no-repeat;
  min-height: 154px;
  -webkit-background-size: contain;
          background-size: contain;
  width: 150px; }

.solution-icon1 {
  margin-top: 40px;
  margin-left: 42px; }

.line {
  width: 87px;
  height: 2px;
  background-color: black; }

.line1 {
  margin-left: 130px;
  margin-top: -31px; }

.line2 {
  margin-left: -60px;
  margin-top: -35px; }

.hight-desc-right1 {
  width: 630px;
  line-height: 1.8em;
  margin-right: 250px; }
  .hight-desc-right1 p {
    display: inline; }

.hight-desc-right2 {
  margin-right: 150px; }

.solution-hight2 {
  background: url(../img/solution-bg2.png) no-repeat;
  min-height: 835px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  margin-top: 50px; }

.hight-second {
  margin-top: 190px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 300; }

.hight-sc1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px; }

.hight-sc-right1 {
  background: url(../img/solution-rhomb2.png) no-repeat;
  min-height: 154px;
  -webkit-background-size: contain;
          background-size: contain;
  width: 150px;
  margin-left: 80px; }

.hight-sc-left1 {
  margin-top: 20px;
  margin-left: 50px;
  text-align: right;
  width: 500px;
  color: #fff; }

.hight-sc-left2 {
  width: 700px;
  margin-left: 20px; }

.hight-sc-left3 {
  width: 530px; }

.solution-icon4 {
  width: 70px;
  margin-top: 40px;
  margin-left: 40px; }

.line-sc1 {
  background-color: #FFD800;
  margin-left: 120px;
  margin-top: -31px; }

.line-sc2 {
  background-color: #FFD800;
  margin-left: -53px;
  margin-top: -35px; }

.outcome {
  margin-top: 50px;
  margin-bottom: 100px; }

.outcome-bg1 {
  background: url(../img/outcome-bg1.png) no-repeat;
  min-height: 350px;
  -webkit-background-size: contain;
          background-size: contain;
  margin-top: 100px; }

.outcome-icon1, .outcome-icon2 {
  margin-top: 90px;
  margin-left: 110px; }

.outcome-text1, .outcome-text2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 150px; }

.outcome-bg2 {
  background: url(../img/outcome-bg2.png) no-repeat;
  min-height: 350px;
  -webkit-background-size: contain;
          background-size: contain;
  margin-top: 100px; }

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ccc;
  background: #333;
  z-index: 100;
  outline: 0 !important; }

.btn-up:after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 1200px) {
  .header-title {
    font-size: 38px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-bg2 {
    margin-top: 70px; }
  .header-text {
    font-size: 14px; }
  .block {
    height: 200px; }
  .challenges-text {
    margin-top: 280px;
    font-size: 25px;
    width: 450px; }
    .challenges-text span {
      font-size: 35px; }
  .challenges-foto {
    width: 630px;
    height: 400px;
    margin-top: 10px; }
  .solution-sheme {
    margin-top: 90px; }
  .sheme1 {
    margin-left: 280px;
    margin-top: 160px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme2 {
    margin-top: 160px;
    margin-left: 70px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right1 {
    font-size: 20px;
    margin-right: 60px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .solution-bg {
    min-height: 700px; }
  .hight-desc-right2 {
    margin-right: 0; }
  .hight-second {
    margin-top: 210px; }
  .hight-sc1 {
    margin-left: 0;
    margin-bottom: 20px; }
  .hight-sc-left1 {
    width: 650px; }
  .hight-sc-right1 {
    margin-top: 30px;
    margin-right: 30px; }
  .line-sc2 {
    margin-top: -37px; }
  .none {
    display: none; } }

@media screen and (max-width: 992px) {
  .header-title {
    font-size: 26px; }
  .header-bg2 {
    min-height: 300px;
    margin-top: 180px; }
  .rectangle {
    width: 100px;
    height: 8px; }
  .menu {
    top: -26px;
    left: 40px; }
    .menu .menu-item {
      padding: 10px; }
  .hamburger {
    margin-top: 10px; }
  .header-text {
    margin-top: 0;
    font-size: 13px; }
  .challenges-text {
    margin-top: 300px;
    font-size: 21px;
    width: 380px; }
    .challenges-text span {
      font-size: 35px; }
  .challenges-foto {
    margin-top: -20px; }
  .solution-bg {
    max-height: 500px; }
  .solution-sheme {
    margin-top: 140px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .solution-sheme h3 {
      margin-bottom: 10px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
  .sheme1 {
    margin-left: 20px;
    margin-top: 320px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme1 ul {
      width: 250px; }
  .sheme2 {
    margin-top: 130px;
    margin-left: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme2 ul {
      width: 180px; }
  .hight-desc-right1 {
    font-size: 15px;
    width: 380px;
    margin-top: 30px;
    margin-right: 10px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right2 {
    margin-right: -70px; }
  .hight-desc2 {
    margin-left: 120px; }
  .hight-second {
    margin-top: 270px; }
  .hight-sc-left1 {
    font-size: 18px;
    margin-left: 0;
    width: 400px; }
  .hight-sc-right1 {
    margin-right: 10px; }
  .solution-icon4 {
    width: 70px;
    margin-top: 38px;
    margin-left: 40px; }
  .line-sc1 {
    width: 80px;
    margin-left: 125px;
    margin-top: -30px; }
  .line-sc2 {
    width: 80px;
    margin-top: -39px; }
  .outcome-bg1, .outcome-bg2 {
    width: 250px; }
  .outcome-icon1 {
    width: 85px;
    margin-left: 90px; }
  .outcome-icon2 {
    width: 85px;
    margin-top: 60px;
    margin-left: 85px; }
  .outcome-text1, .outcome-text2 {
    margin-top: 100px;
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 30px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-bg2 {
    width: 350px;
    margin-top: 90px;
    margin-left: 50px; }
  .rectangle {
    width: 70px;
    height: 6px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .menu {
    position: absolute; }
    .menu .menu-item {
      padding: 8px; }
    .menu ul {
      display: none; }
  .header-none2 {
    display: none; }
  .header-text {
    width: 400px;
    font-size: 15px;
    margin-top: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .challenges-desc1 p {
    font-size: 17px; }
  .challenges-desc1 img {
    width: 100px; }
  .challenges-text {
    margin-top: 330px;
    font-size: 25px;
    width: 450px;
    line-height: 1.7em; }
    .challenges-text span {
      font-size: 35px; }
  .none {
    display: none; }
  .challenges-bg {
    background: url(../img/challenges-bg-mob.png) no-repeat;
    min-height: 700px;
    -webkit-background-size: 100% 700px;
            background-size: 100% 700px; }
  .challenges-foto {
    width: 530px;
    height: 350px;
    margin-top: -50px; }
  .solution-bg {
    max-height: 200px; }
  .solution-sheme {
    margin-top: 0;
    background: url(../img/solution-sheme-mob.png) no-repeat;
    min-height: 750px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme1 {
    margin-left: 50px;
    margin-top: 450px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .sheme2 {
    margin-left: 90px;
    margin-top: 200px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .sheme2 ul {
      width: 150px; }
  .hight-desc2 {
    margin-left: 60px; }
  .hight-desc-left1 {
    width: 120px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .hight-desc-left1 img {
      width: 50px;
      margin-left: 35px;
      margin-top: 34px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .hight-desc-left1 .line1 {
      width: 70px;
      margin-left: 90px;
      margin-top: -25px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .hight-desc-left1 .line2 {
      margin-top: -25px; }
  .hight-desc-right1 {
    margin-top: 15px;
    width: 350px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hight-desc-right2 {
    margin-right: 0; }
  .hight-sc-left1 {
    width: 300px;
    margin-left: 10px; }
  .hight-sc-right1 {
    margin-top: 30px; }
  .line-sc1, .line-sc2 {
    display: none; }
  .outcome-bg1, .outcome-bg2 {
    width: 300px;
    margin: 50px auto 0 auto; }
  .outcome-icon1 {
    width: 100px;
    margin-left: 110px; }
  .outcome-icon2 {
    width: 100px;
    margin-top: 80px;
    margin-left: 100px; }
  .outcome-text1, .outcome-text2 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto; } }

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 30px;
    margin-top: 6s0px;
    width: 50px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .header-text {
    width: 350px; }
  .header-bg2 {
    margin-left: 50px;
    margin-top: 30px;
    width: 300px; }
  .rectangle {
    width: 80px;
    height: 8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .menu {
    width: 300px;
    left: 40px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .challenges-desc {
    display: block; }
  .challenges-desc1 {
    margin-top: 80px; }
    .challenges-desc1 p {
      margin-top: 20px;
      font-size: 20px; }
  .challenges-text {
    margin-top: 320px;
    font-size: 19px;
    width: 300px; }
    .challenges-text span {
      font-size: 35px; }
  .none {
    display: none; }
  .challenges-foto {
    width: 350px;
    height: 250px; }
  .solution-bg {
    min-height: 700px; }
  .solution-sheme {
    min-height: 700px;
    margin-top: 80px; }
  .sheme1 {
    margin-left: 10px;
    margin-top: 390px; }
    .sheme1 ul {
      width: 200px; }
  .sheme2 {
    margin-top: 120px;
    margin-left: 50px; }
    .sheme2 ul {
      width: 150px; }
  .hight-desc1 {
    display: block; }
  .hight-desc-left1 {
    margin: auto; }
  .hight-desc-right1 {
    margin: auto;
    text-align: center;
    font-size: 17px; }
  .hight-desc2 {
    margin: auto; }
  .hight-desc-right2 {
    margin: auto;
    margin-bottom: 20px; }
  .hight-sc-left1 {
    font-size: 15px;
    margin-left: 0; }
  .hight-sc-right1 {
    margin-left: 0;
    margin-right: 20px; }
  .solution-icon4 {
    width: 75px;
    margin-left: 40px;
    margin-top: 40px; } }
