.challenges
    margin-top: 0
.title
    font-family: $lato
    font-weight: 700
    font-size: 48px
    text-align: center 
.challenges-rc
    margin: auto    
.challenges-about
    text-align: center
    font-family: $lato
    font-weight: 300
    font-size: 24px
    margin-top: 50px
    span
        font-size: 36px    
.challenges-desc
    display: flex
    margin-top: 50px
.challenges-desc1
    margin: auto
    text-align: center
    p
        display: block
        font-family: $lato
        font-weight: 300
        font-size: 24px
        margin-top: 20px
.challenges-bg
    background: url(../img/challenges-bg.png) no-repeat
    min-height: 700px
    background-size: 100% 100%
.challenges-text
    margin-top: 230px
    text-align: left
    font-family: $lato
    font-weight: 300
    color: #fff
    font-size: 20px
    width: 470px
    span
        color: $yellow
        font-size: 36px
.challenges-bg2
    background: url(../img/challenges-bg2.png) no-repeat
    min-height: 500px
    background-size: 100%
    margin-top: 100px
.challenges-foto
    width: 730px
    height: 440px