@media screen and (max-width: 1200px)
    .header-title
        font-size: 38px
        transition: .2s
    .header-bg2
        margin-top: 70px
    .header-text
        font-size: 14px
    .block
        height: 200px
    .challenges-text
        margin-top: 280px
        font-size: 25px
        width: 450px
        span
            font-size: 35px  
    .challenges-foto
        width: 630px
        height: 400px 
        margin-top: 10px
    .solution-sheme
        margin-top: 90px
    .sheme1
        margin-left: 280px
        margin-top: 160px
        transition: .2s
    .sheme2
        margin-top: 160px
        margin-left: 70px
        transition: .2s
    .hight-desc-right1
        font-size: 20px
        margin-right: 60px
        transition: .2s
    .solution-bg
        min-height: 700px
    .hight-desc-right2
        margin-right: 0  
    .hight-second
        margin-top: 210px
    .hight-sc1
        margin-left: 0
        margin-bottom: 20px
    .hight-sc-left1
        width: 650px
    .hight-sc-right1
        margin-top: 30px
        margin-right: 30px
    .line-sc2
        margin-top: -37px
    .none
        display: none    

@media screen and (max-width: 992px)
    .header-title
        font-size: 26px
    .header-bg2
        min-height: 300px
        margin-top: 180px
    .rectangle
        width: 100px
        height: 8px
    .menu
        top: -26px
        left: 40px
        .menu-item
            padding: 10px
    .hamburger
        margin-top: 10px 
    .header-text
        margin-top: 0
        font-size: 13px
    .challenges-text
        margin-top: 300px
        font-size: 21px
        width: 380px
        span
            font-size: 35px
    .challenges-foto
        margin-top: -20px
    .solution-bg
        max-height: 500px    
    .solution-sheme
        margin-top: 140px
        transition: .2s
        h3
            margin-bottom: 10px
            transition: .2s
    .sheme1
        margin-left: 20px
        margin-top: 320px
        transition: .2s
        ul
            width: 250px
    .sheme2
        margin-top: 130px
        margin-left: 0
        transition: .2s
        ul
            width: 180px
    .hight-desc-right1
        font-size: 15px
        width: 380px
        margin-top: 30px
        margin-right: 10px
        transition: .2s
    .hight-desc-right2
        margin-right: -70px
    .hight-desc2
        margin-left: 120px
    .hight-second
        margin-top: 270px
    .hight-sc-left1
        font-size: 18px
        margin-left: 0
        width: 400px
    .hight-sc-right1
        margin-right: 10px
    .solution-icon4
        width: 70px
        margin-top: 38px
        margin-left: 40px
    .line-sc1
        width: 80px
        margin-left: 125px
        margin-top: -30px
    .line-sc2
        width: 80px
        margin-top: -39px
    .outcome-bg1, .outcome-bg2 
        width: 250px
    .outcome-icon1
        width: 85px
        margin-left: 90px
    .outcome-icon2
        width: 85px
        margin-top: 60px
        margin-left: 85px
    .outcome-text1, .outcome-text2 
        margin-top: 100px
        font-size: 16px

@media screen and (max-width: 768px)
    .header-title
        font-size: 30px
        transition: .2s
    .header-bg2
        width: 350px
        margin-top: 90px
        margin-left: 50px
    .rectangle
        width: 70px
        height: 6px
        transition: .2s
    .menu 
        position: absolute
        .menu-item
            padding: 8px
        ul
            display: none
    .header-none2
        display: none
    .header-text
        width: 400px
        font-size: 15px
        margin-top: 0
        transition: .2s
    .challenges-desc1
        p
            font-size: 17px
        img
            width: 100px
    .challenges-text
        margin-top: 330px
        font-size: 25px
        width: 450px
        line-height: 1.7em
        span
            font-size: 35px
    .none
        display: none
    .challenges-bg
        background: url(../img/challenges-bg-mob.png) no-repeat
        min-height: 700px
        background-size: 100% 700px
    .challenges-foto
        width: 530px
        height: 350px
        margin-top: -50px
    .solution-bg
        max-height: 200px    
    .solution-sheme
        margin-top: 0
        background: url(../img/solution-sheme-mob.png) no-repeat
        min-height: 750px
        background-size: 100%
        transition: .2s
    .sheme1
        margin-left: 50px
        margin-top: 450px
        transition: .2s
    .sheme2
        margin-left: 90px
        margin-top: 200px
        transition: .2s 
        ul
            width: 150px
    .hight-desc2
        margin-left: 60px
    .hight-desc-left1
        width: 120px
        transition: .2s
        img
            width: 50px
            margin-left: 35px
            margin-top: 34px
            transition: .2s
        .line1
            width: 70px
            margin-left: 90px
            margin-top: -25px
            transition: .2s
        .line2
            margin-top: -25px
    .hight-desc-right1
        margin-top: 15px
        width: 350px
        transition: .2s
    .hight-desc-right2
        margin-right: 0
    .hight-sc-left1
        width: 300px
        margin-left: 10px
    .hight-sc-right1
        margin-top: 30px
    .line-sc1, .line-sc2
        display: none
    .outcome-bg1, .outcome-bg2
        width: 300px
        margin: 50px auto 0 auto
    .outcome-icon1
        width: 100px
        margin-left: 110px
    .outcome-icon2
        width: 100px
        margin-top: 80px
        margin-left: 100px
    .outcome-text1, .outcome-text2
        margin-top: 100px
        text-align: center
        font-size: 20px
        width: 400px
        margin: auto

@media screen and (max-width: 576px) 
    .header-title
        font-size: 30px
        margin-top: 6s0px
        width: 50px
        transition: .2s
    .header-text
        width: 350px
    .header-bg2
        margin-left: 50px
        margin-top: 30px
        width: 300px
    .rectangle
        width: 80px
        height: 8px
        transition: .2s
    .menu
        width: 300px
        left: 40px
        transition: .2s
    .challenges-desc
        display: block
    .challenges-desc1
        margin-top: 80px
        p
            margin-top: 20px
            font-size: 20px
    .challenges-text
        margin-top: 320px
        font-size: 19px
        width: 300px
        span
            font-size: 35px
    .none
        display: none    
    .challenges-foto
        width: 350px
        height: 250px 
    .solution-bg
        min-height: 700px
    .solution-sheme
        min-height: 700px
        margin-top: 80px
    .sheme1
        margin-left: 10px
        margin-top: 390px
        ul
            width: 200px
    .sheme2
        margin-top: 120px
        margin-left: 50px
        ul
            width: 150px
    .hight-desc1
        display: block
    .hight-desc-left1
        margin: auto
    .hight-desc-right1
        margin: auto
        text-align: center
        font-size: 17px
    .hight-desc2
        margin: auto 
    .hight-desc-right2
        margin: auto
        margin-bottom: 20px
    .hight-sc-left1
        font-size: 15px
        margin-left: 0
    .hight-sc-right1
        margin-left: 0
        margin-right: 20px
    .solution-icon4
        width: 75px
        margin-left: 40px
        margin-top: 40px