.solution-desc
    font-family: $lato
    font-size: 24px
    font-weight: 300
    text-align: center
    .solution-rc
        margin: auto
        margin-bottom: 20px
    span
        font-size: 36px
.solution-bg
    background: url(../img/solution-bg.png) no-repeat
    min-height: 735px
    background-size: 100% 100%
.solution-sheme
    background: url(../img/solution-sheme.png) no-repeat
    min-height: 550px
    background-size: 100%
    margin-top: 60px
    display: flex
    color: #fff
    font-family: $lato
    font-size: 15px
    font-weight: 400
    line-height: 1.7em
    span
        color: $yellow
    h3
        color: $yellow
        font-size: 28px
        margin-bottom: 25px
.mobilunity
    width: 200px
.xpolog
    width: 150px
.sheme1
    margin-left: 330px
    margin-top: 230px
.sheme2
    margin-top: 230px
    margin-left: 120px
.solution-hight
    margin-top: 50px
.hight-title
    text-align: center
    font-family: $lato
    font-weight: 300
    font-size: 35px
.hight-desc
    margin-top: 50px
    font-family: $lato
    font-size: 20px
    font-weight: 300
.hight-desc1
    display: flex
    justify-content: space-between
    margin-bottom: 20px
.hight-desc2
    margin-left: 100px    
.hight-desc-left1
    background: url(../img/solution-rhomb.png) no-repeat
    min-height: 154px
    background-size: contain
    width: 150px
.solution-icon1
    margin-top: 40px
    margin-left: 42px
.line
    width: 87px
    height: 2px
    background-color: black
.line1
    margin-left: 130px
    margin-top: -31px
.line2
    margin-left: -60px
    margin-top: -35px    
.hight-desc-right1
    p
        display: inline
    width: 630px
    line-height: 1.8em
    margin-right: 250px
.hight-desc-right2
    margin-right: 150px 
.solution-hight2
    background: url(../img/solution-bg2.png) no-repeat
    min-height: 835px
    background-size: 100% 100% 
    margin-top: 50px
.hight-second
    margin-top: 190px
    font-family: $lato
    font-size: 25px
    font-weight: 300
.hight-sc1
    display: flex
    margin-left: 120px
.hight-sc-right1
    background: url(../img/solution-rhomb2.png) no-repeat
    min-height: 154px
    background-size: contain
    width: 150px
    margin-left: 80px
    
    
.hight-sc-left1
    margin-top: 20px
    margin-left: 50px
    text-align: right
    width: 500px
    color: #fff
.hight-sc-left2
    width: 700px
    margin-left: 20px
.hight-sc-left3
    width: 530px
.solution-icon4
    width: 70px
    margin-top: 40px
    margin-left: 40px 
.line-sc1
    background-color: $yellow
    margin-left: 120px
    margin-top: -31px
.line-sc2
    background-color: $yellow
    margin-left: -53px
    margin-top: -35px 